<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/navbar.ejs')%>
    <!-- <h1 class="introHead">Welcome To Destiny Club Hosue</h1> -->
    <section class="intro">
        <div class="info">
            <h1>Destiny Club House</h1>
            <p>Join this club see the fun, share a story, or consume one <br> <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi consequatur totam suscipit eligendi, voluptas minima nisi similique.</span></p>
            <div class="btns">
                <a href="/messages" class="cta primary">Messages</a>
                <a href="/auth/login" class="cta signin">Log-in</a>
                <a href="/auth/signup" class="cta signup">Sign-up</a>
            </div>
        </div>
        <img src="/img/community.svg" alt="community">
    </section>

    <section class="messagesContainer"> 
        <h2 class="h2">All Messages</h2>
        <% messages.forEach(msg => { %>
          <div class="messages">
            <% if(isMember === true && isMember !== '') {%>
            <h2><%= msg.firstname.toUpperCase() + " " + msg.lastname.toUpperCase()%></h2>
            <p>@ <%= msg.username%></p>
            <p><%= dayjs(msg.created_at).fromNow() %></p>
            <p class="messageData"><%= msg.message%></p>
            <%if(admin === true) {%>
                <a href="/messages/delete/<%= msg.mess_id%>" class="btn dltBtn">Delete messages</a>
            <%}%>
            <%} else {%>
              <h2>Anonymous</h2>
            <p>@*********</p>
            <p><%= dayjs(msg.created_at).fromNow() %></p>
            <p class="messageData"><%= msg.message%></p>
             <%if(admin === true) {%>
                <a href="/messages/delete/<%= d.mess_id%>" class="btn dltBtn">Delete messages</a>
            <%}%>
            <%}%>
        </div>
        <% }) %>
        <%if(isMember == true && isMember !== '') {%>
            <p><a class=" create" href="/messages/create">Add Message</a></p>
        <%}%>
    </section>
  
</body>
</html>