<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <% data.forEach(d => { %>
        <div class="messages">
            <% if(isMember === true && isMember !== '') {%>
            <h2><%= d.firstname.toUpperCase() + " " + d.lastname.toUpperCase()%></h2>
            <p>@ <%= d.username%></p>
            <p><%= dayjs(d.created_at).fromNow() %></p>
            <p class="messageData"><%= d.message%></p>
            <%if(admin === true) {%>
                <a href="/messages/delete/<%= d.mess_id%>" class="btn dltBtn">Delete messages</a>
            <%}%>
            <%} else {%>
              <h2>Anonymous</h2>
            <p>@*********</p>
            <p><%= dayjs(d.created_at).fromNow() %></p>
            <p class="messageData"><%= d.message%></p>
            <%if(admin.admin === true) {%>
                <a href="/messages/delete/<%= d.mess_id%>" class="btn dltBtn">Delete messages</a>
            <%}%>
            <%}%>
        </div>
    <% }) %>
    <p><a class="create" href="/messages/create">Add Message</a></p>

</body>
</html>